@import '../node_modules/normalize.css/normalize.css';

@font-face {
    font-family: 'Gotham Rounded';
    src: url('./fonts/GothamRounded/GothamRounded.woff2') format('woff2'),
    url('./fonts/GothamRounded/GothamRounded.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('./fonts/GothamRoundedBook/GothamRoundedBook.woff2') format('woff2'),
    url('./fonts/GothamRoundedBook/GothamRoundedBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    background-color: #f0efe9;
    color: #3e434f;
    font-size: 1.625rem;
    font-family: 'Gotham Rounded Book', sans-serif;
}

.root {
    height: 100%;
    position: relative;
    padding-top: 253px;
}